---
import PageLayout from "@/layouts/Base";
import SkeletonText from "@/components/SkeletonText";

const meta = {
	title: "Home",
	description: "Random bits of information",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<SkeletonText />
	</div>
</PageLayout>
