---
import PageLayout from "@/layouts/Base";
import SkeletonText from "@/components/SkeletonText";

const meta = {
	title: "About",
	description: "Some personal details",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Now</h1>
		<ul class="grid gap-2 grid-cols-1 list-disc">
			<li>
				Automating security solutions at <a
					href="https://mutablesecurity.io/"
					class="underline">MutableSecurity</a
				>
			</li>
			<li>
				Learning from the gorgeous humans at <a
					href="https://stepfwd.today"
					class="underline">StepFWD</a
				>
			</li>
			<li>
				Discovering and exploiting bugs at <a
					href="https://github.com/CyberReasoningSystem"
					class="underline">OpenCRS</a
				>
			</li>
			<li>Working as an incident responder at Romania's MoND</li>
			<li>
				Teaching <a
					href="https://github.com/iosifache/BinExpLabs"
					class="underline">binary exploitation labs</a
				> at Military Technical Academy "Ferdinand I"
			</li>
			<li>
				Pursuing a cybersecurity master's degree at the University POLITEHNICA
				in Bucharest
			</li>
		</ul>
		<blockquote
			class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-gray-800"
		>
			<p
				class="text-xs font-medium leading-relaxed text-gray-900 dark:text-white"
			>
				Inspired by Derek Sivers' <a
					href="https://sive.rs/nowff"
					class="underline">/now</a
				>. Last updated on 5 November 2022.
			</p>
		</blockquote>
	</div>
</PageLayout>
